<div class="bannerContainer" ng-style="vm.a==1 ? {'width':'55%'} : {'width':'35%'}">
    <div class="logo text-center"><img src="./../../assets/images/dollar-symbol.svg">
        <h1>BANK</h1>
    </div>
</div>