<div class=" table-responsive container-fluid">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Receipt ID</th>
                <th>Date</th>
                <th>Total Cost</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tr ng-repeat="receipt in vm.receipts">
            <th>{{$index+1+ (vm.pageSize*(vm.currentPage-1))}}</th>
            <td>{{receipt._id}}</td>
            <td>{{receipt.dateOfRequest | date: "short"}}</td>
            <td>{{receipt.totalCost | currency}}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#receiptModal" ng-click="vm.viewDetail(receipt)">View</button></td>
        </tr>

    </table>

    <nav style="text-align:center">
        <ul class="pagination">
            <li ng-if="vm.currentPage !== 1 "><a ng-click="vm.getAllReceipt(vm.currentPage-1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li ng-repeat="i in vm.getTotalPage(vm.totalPage) track by $index" ng-class="$index+1 == vm.currentPage ?'active': ''"><a ng-click="vm.getAllReceipt($index+1)">{{$index+1}}</a></li>
            <li ng-if="vm.currentPage !== vm.totalPage "><a ng-click="vm.getAllReceipt(vm.currentPage+1)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>

</div>

<!-- Modal create -->
<div class="modal fade" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Receipt: {{vm.rpSelected._id}}</h4>
            </div>
            <div class="container-fluid">
                <div class="form-group">
                    <label for="ProductName">Date</label>
                    <p>{{vm.rpSelected.dateOfRequest | date: "short"}}</p>
                </div>

                <div class="form-group">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Quanty</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="product in vm.rpSelected.products">
                            <th>{{$index+1}}</th>
                            <td>{{product.name}}</td>
                            <td>{{product.amount}}</td>
                            <td>{{product.price }}</td>
                        </tr>

                    </table>
                </div>
                <div class="form-group">
                    <label for="ProductCost">Total Cost</label>
                    <p>{{vm.rpSelected.totalCost | currency}}</p>
                </div>
                <div class="form-group">
                    <label for="ProductCost">Deliver to this address</label>
                    <address>{{vm.rpSelected.address}}</address>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.reload()">Close</button>
            </div>
        </div>
    </div>
</div>