<div class="col-xs-10 col-xs-offset-1 memberTeamContainer ">
    <div class="memberTeam container-fluid">
        <div class="avatar" ng-class="'money'"></div>
        <div class="nameContainer">
            <h4>BankID: {{vm.user.bankId}}</h4>
            <p>{{vm.user.typeCard}}</p>
        </div>
    </div>
    <div class="detailContainer">
        <!--<div class="content">
            <h5>UNSE</h5>
            <p>10000</p>
        </div>-->
        <form name="edit" ng-submit="vm.edit()">
            <table class="table table-striped">
                <tr>
                    <th>Balance</th>
                    <td><input type="number" class="form-control" value={{vm.user.balance}} ng-model="vm.balance"></td>
                </tr>
                <tr>
                    <th>PIN</th>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="vm.changePIN = true" ng-if="!vm.changePIN">Change PIN</button>
                        <div ng-if="vm.changePIN">
                            <input name="oldPIN" ng-model="vm.oldPIN" type="number" class="form-control" placeholder="Old PIN"><br>
                            <input name="pin" ng-model="vm.pin" type="number" class="form-control" required placeholder="New PIN">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td ng-style="{'text-align':'left'}">
                        <button type="button" class="btn btn-primary" ng-click="vm.getCert()">Get certification for merchant</button>
                    </td>
                    <td ng-style="{'text-align':'right'}">
                        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Don't Save</button>
                        <button type="submit" class="btn btn-success" ng-disabled="edit.$invalid || edit.$pristine">Save and Update</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>

</div>