<form ng-submit="vm.sendMail()">
    <div class="input-group">
        <h5>FIND YOUR PASSWORD</h5>
        <input type="text" class="form-control" required placeholder="Please enter your email to resend your password." name="email" ng-model="vm.email">
    </div>
    <button ui-sref="homepage" ng-style="{'float':'left'}" class="btn btn-RL">Back</button>
    <button type="submit" class="btn btn-RL">Send</button>
</form>