<div class="pageContainer fontAuth">
    <div class="RLParentContainer">
        <ng-include src="'app/components/auth/banner.html'"></ng-include>
        <div class="RLContainer" ng-style="{'width':'65%'}">
            <div class="RLForm" ng-style="{'top':'10%'}">
                <ui-view>
                </ui-view>
            </div>
        </div>
    </div>
</div>