<div class="col-xs-10 col-xs-offset-1 memberTeamContainer ">
    <div class="detailContainer">
        <form name="setting" ng-submit="vm.upload()" ng-style="{'padding-top': '60px'}">
            <table class="table table-striped">
                <tr>
                    <th>Merchant's Email</th>
                    <td><input type="email" class="form-control" placeholder="Input your email here " ng-model="vm.email"></td>
                </tr>
                <tr>
                    <th>Merchant's certification</th>
                    <td><input type="file" class="form-control" required ngf-pattern=".json" accept=".json" ngf-max-size="1MB" id="merchantCert"></td>
                </tr>
                <tr>
                    <th>Merchant's private key</th>
                    <td><input type="file" class="form-control" required ngf-pattern=".pem" accept=".pem" ngf-max-size="1MB" id="merchantPrivateKey"></td>
                </tr>
                <tr>
                    <th>Bank's certification</th>
                    <td><input type="file" class="form-control" required ngf-pattern=".json" accept=".json" ngf-max-size="1MB" id="bankCert"></td>
                </tr>
                <tr>
                    <th></th>
                    <td ng-style="{'text-align':'right'}">
                        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
                        <button type="submit" class="btn btn-success" ng-disabled="setting.$invalid">Upload</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>

</div>