<ng-include class="shuffle-animation" src="'app/components/homepage/homePageBanner.html'" ng-if="vm.isBanner"></ng-include>
<div class="shopContainer" ng-if="!vm.isBanner">
    <nav class="navbar navbar-default navbar-market">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand shop-brand" href="#">Camera store</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="vm.category==''? 'active':''">
                        <a ng-click="vm.getAllProduct(1,'')">Home
                        </a>
                    </li>
                    <li ng-class="vm.category=='DSLR'? 'active':''">
                        <a ng-click="vm.getAllProduct(1,'DSLR')">DSLR</a>
                    </li>
                    <li ng-class="vm.category=='Compact'? 'active':''">
                        <a ng-click="vm.getAllProduct(1,'Compact')">Compact</a>
                    </li>
                    <li ng-class="vm.category=='Mirrorless'? 'active':''">
                        <a ng-click="vm.getAllProduct(1,'Mirrorless')">Mirrorless</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!vm.user">
                        <button type="button" class="btn btn-default navbar-btn" ng-click="vm.toggleRight()">Sign in</button>
                    </li>
                    <li ng-if="vm.user.role=='user'">
                        <a class="cartIcon" style="cursor:pointer;" ng-click="vm.showCart()">
                            <img src="../../../assets/images/cart.svg">
                        </a>
                    </li>
                    <li class="dropdown" ng-if="vm.user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{vm.user.username}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="store">Settings</a>
                            </li>
                            <li>
                                <a ng-click="vm.logout()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp sidenav-market" ng-style="vm.state=='login'? {'width':'45%'} : {'width':'65%'}" md-component-id="right">
        <auth state="vm.state"></auth>
    </md-sidenav>

    <div class="container-fluid mainRow" ng-if="vm.products.length" ng-style="vm.products.length >=7 ? {'column-count': '4'}: {}">

        <div class="camera-item" ng-repeat="product in vm.products" ng-class="{'col-xs-3': vm.products.length <7}">
            <div class="thumbnail">
                <img src="https://localhost:9443/api/static/{{product._id}}.{{product.uploadType}}" alt="...">
                <div class="caption">
                    <h3>{{product.name}}</h3>
                    <p>{{product.cost | currency }}</p>
                    <p>Type: {{product.category}}</p>
                    <form name="productForm" ng-if="!vm.checkAddedCart(product)">
                        <p>Amount to buy:
                            <input type="number" min=1 max="{{product.amount}}" name="amountToBuy" ng-model="product.amountToBuy" ng-init="product.amountToBuy =0"> / {{product.amount}}
                        </p>
                        <p>
                            <button type="button" class="btn btn-primary" ng-disabled="productForm.$invalid" ng-click="vm.addCart(product)" style="width:100%" ng-if="vm.user.role=='user'">Add to cart
                            </button>
                        </p>
                    </form>
                    <button ng-if="vm.checkAddedCart(product)" type="button" class="btn btn-default" ng-click="vm.showCart()" style="width:100%">Added to cart
                    </button>
                </div>
            </div>
        </div>
    </div>

    <nav style="text-align:center">
        <ul class="pagination">
            <li ng-if="vm.currentPage !== 1 ">
                <a ng-click="vm.getAllProduct(vm.currentPage-1,vm.category)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li ng-repeat="i in vm.getTotalPage(vm.totalPage) track by $index" ng-class="$index+1 == vm.currentPage ?'active': ''">
                <a ng-click="vm.getAllProduct($index+1,vm.category)">{{$index+1}}</a>
            </li>
            <li ng-if="vm.currentPage !== vm.totalPage">
                <a ng-click="vm.getAllProduct(vm.currentPage+1,vm.category)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
<div class="modal fade" id="myCart" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myCartLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myCartLabel">My Cart</h4>
            </div>
            <div ng-if="!vm.isStartPayment">
                <div class="modal-body">
                    <div ng-if="vm.myCart.totalCost > 0">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th ng-style="{'width':'5%'}">#</th>
                                    <th>Name</th>
                                    <th>Cost</th>
                                    <th>Amount</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="product in vm.myCart.products">
                                <th>{{$index+1}}</th>
                                <td>{{product.name}}</td>
                                <td>{{product.cost | currency }}</td>
                                <td>{{product.amountToBuy}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" ng-click="vm.removeCart(product)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        Total cost: {{vm.myCart.totalCost | currency}}
                    </div>
                    <div class="alert alert-info" role="alert" ng-if="vm.myCart.totalCost <=0">You have nothing in cart</div>
                </div>
                <div class="modal-footer" ng-if="!vm.isStartPayment">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-if="vm.myCart.totalCost > 0" ng-click="vm.startPayment();">Pay</button>
                </div>
            </div>
            <div ng-if="vm.isStartPayment">
                <md-stepper id="stepper-payment" md-mobile-step-text="true" md-linear="true" md-alternative="true">
                    <md-step md-label="Fill information for transaction">
                        <md-step-body class="modal-body ">
                            <div class="input-group">
                                <h5>Type of payment</h5>
                                <select class="form-control" ng-model="vm.typeOfPayment">
                                    <option value="visa">Visa</option>
                                    <option value="masterCard">MasterCard</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <h5>We're delivering to:</h5>
                                <textarea class="form-control" ng-model="vm.address">
                                </textarea>
                            </div>
                        </md-step-body>
                        <md-step-actions class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancelPayment()">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="vm.payment(1);">Next</button>
                        </md-step-actions>
                    </md-step>
                    <md-step md-label="Enter your payment information">
                        <md-step-body class="modal-body ">
                            <form name="completePayment" ng-if="!vm.isLoading">
                                <div class="input-group">
                                    <h5>BankID</h5>
                                    <input type="text" class="form-control" required placeholder="Your BankID" ng-model="vm.bankID">
                                </div>
                                <div class="input-group">
                                    <h5>PIN</h5>
                                    <input type="number" class="form-control" required placeholder="Your PIN" min="0" max="9999" ng-model="vm.PIN">
                                </div>
                                <div class="input-group">
                                    <h5>Card Holder's Certification</h5>
                                    <input type="file" class="form-control" required ngf-pattern=".json" accept=".json" ngf-max-size="1MB" id="cardHolderCert">
                                </div>
                                <div class="input-group">
                                    <h5>Private Key</h5>
                                    <input type="file" class="form-control" required ngf-pattern=".pem" accept=".pem" ngf-max-size="1MB" id="privateKey">
                                </div>
                            </form>
                            <md-progress-circular class="md-warn md-hue-3" ng-if="vm.isLoading" md-diameter="70"></md-progress-circular>
                        </md-step-body>
                        <md-step-actions class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancelPayment()">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="vm.payment(2);">Pay</button>
                        </md-step-actions>
                    </md-step>
                    <md-step md-label="Completed">
                        <md-step-body class="modal-body paymentDone">
                            <img src="../../../assets/images/paymentDone.svg">
                            <p>Your payment is completed</p>
                        </md-step-body>
                        <md-step-actions class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.completePayment()">Close</button>
                        </md-step-actions>
                    </md-step>
                    <!-- Other steps if needed ... -->
                </md-stepper>
            </div>
        </div>

    </div>
</div>