<div class="homePageBanner">
    <div class="backgroundImg parallax"></div>
    <div class="footer text-center">
        <h1>Camera Store</h1>
        <a ng-click="vm.isBanner = !vm.isBanner">
            <p>Get Started</p>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
    </div>
</div>