<div class=" table-responsive container-fluid" ng-if="vm.user.merchantEmail">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary productModalButton" data-toggle="modal" data-target="#productModal">
        CREATE PRODUCT
    </button>
    <div ng-if="!vm.products.length"> You dont have any product!!</div>
    <div ng-if="vm.products.length">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th ng-style="{'width':'5%'}">#</th>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Create Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tr ng-repeat="product in vm.products">
                <th>{{$index+1 + (vm.pageSize*(vm.currentPage-1))}}</th>
                <td>
                    <img src="https://localhost:9443/api/static/{{product._id}}.{{product.uploadType}}">
                </td>
                <td>{{product.name}}</td>
                <td>{{product.cost | currency}}</td>
                <td>{{product.status}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.category}}</td>
                <td>{{product.createDate | date: "short"}}</td>
                <td>
                    <button type="button" class="btn btn-warning" ng-click="vm.editProduct(product)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button type="button" class="btn" ng-class="product.status == 'available'? 'btn-danger': 'btn-success'" ng-click="vm.disableProduct(product._id)">
                        <i class="glyphicon glyphicon-lock"></i>
                    </button>
                </td>
            </tr>

        </table>

        <nav style="text-align:center">
            <ul class="pagination">
                <li ng-if="vm.currentPage !== 1 ">
                    <a ng-click="vm.getAllProduct(vm.currentPage-1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="i in vm.getTotalPage(vm.totalPage) track by $index" ng-class="$index+1 == vm.currentPage ?'active': ''">
                    <a ng-click="vm.getAllProduct($index+1)">{{$index+1}}</a>
                </li>
                <li ng-if="vm.currentPage !== vm.totalPage">
                    <a ng-click="vm.getAllProduct(vm.currentPage+1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class=" table-responsive container-fluid" ng-if="!vm.user.merchantEmail">Setting your payment information first!!</div>


<!-- Modal create -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create Product</h4>
            </div>
            <form name="create" class="modal-body">
                <div class="form-group">
                    <label for="ProductName">Product Name</label>
                    <input type="text" class="form-control" required ng-model="vm.productName" placeholder="Product Name">
                </div>
                <div class="form-group">
                    <label for="ProductCost">Product Cost</label>
                    <input type="number" class="form-control" min="0" required ng-model="vm.productCost" placeholder="Product Cost">
                </div>
                <div class="form-group">
                    <label for="Amount">Amount</label>
                    <input type="number" class="form-control" required ng-model="vm.productAmount" placeholder="Amount">
                </div>
                <div class="form-group">
                    <label for="Category">Category</label>
                    <select class="form-control" ng-model="vm.productCategory">
                        <option value="DSLR">DSLR</option>
                        <option value="Compact">Compact</option>
                        <option value="Mirrorless">Mirrorless</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ImageInput">Image input</label>
                    <input type="file" required ng-model="vm.productImg" ngf-select name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 350, height: 250}">
                </div>
                Image thumbnail:
                <img ngf-thumbnail="vm.productImg" ng-if="vm.productImg">

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.reload()">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="create.$invalid" ng-click="vm.createProduct()">Create</button>
            </div>
        </div>
    </div>
</div>