<div class="notFound">
    <h1>Error Page</h1>
    <div class="main-wthree">
        <h2>404</h2>
        <p><span class="sub-agileinfo">Sorry! </span>The page you requested was not found!....</p>
        <!--form-->
        <form class="newsletter">
            <input class="email" type="button" value="Go To Home Page" ui-sref="homepage">

        </form>

        <!--//form-->
    </div>
</div>