 @mixin containerTrans($obj) {
     -webkit-transition: $obj 500ms ease;
     -moz-transition: $obj 500ms ease;
     -o-transition: $obj 500ms ease;
     transition: $obj 500ms ease;
 }
 
 .pageContainer {
     width: 100%;
     height: 100%;
     overflow: hidden;
     // position: relative;
     // background: -webkit-linear-gradient(-6deg, rgb(162, 75, 97), rgb(204, 105, 123));
     // background: linear-gradient(-6deg, rgb(162, 75, 97), rgb(204, 105, 123));
 }
 
 .RLParentContainer {
     width: 100%;
     height: 100%;
     .btn {
         &:focus {
             outline: 0 !important;
         }
     }
     /*BANNER*/
     .bannerContainer {
         @include containerTrans(width);
         width: 55%;
         height: 100%;
         float: left;
         background: #56ab2f;
         /* fallback for old browsers */
         background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
         /* Chrome 10-25, Safari 5.1-6 */
         background: linear-gradient(to right, #a8e063, #56ab2f);
         /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         position: relative;
         .logo {
             position: absolute;
             left: 0;
             right: 0;
             top: 0;
             bottom: 0;
             margin: auto;
             // background: url('./../../assets/images/securityLogo.png');
             width: 50%;
             height: 50%;
             color: white;
             font-weight: bold;
             img {
                 width: 50%;
             }
         }
         // background: -webkit-linear-gradient(277deg, rgb(163, 11, 212), rgb(58, 150, 233));
         // background: -moz-linear-gradient(277deg, rgb(163, 11, 212), rgb(58, 150, 233));
         // background: -o-linear-gradient(277deg, rgb(163, 11, 212), rgb(58, 150, 233));
         // background: linear-gradient(7deg, rgb(163, 11, 212), rgb(58, 150, 233));
         //  background: -webkit-linear-gradient(-7deg, rgb(118, 184, 82), rgb(141, 194, 111));
         //  background: linear-gradient(-7deg, rgb(118, 184, 82), rgb(141, 194, 111));
     }
     /*REGISTER & LOGIN PAGE*/
     .RLContainer {
         @include containerTrans(width);
         position: relative;
         width: 45%;
         height: 100%;
         float: right;
         box-shadow: -1px 0px 30px #213317;
         background: -webkit-linear-gradient(134deg, rgb(69, 83, 81), rgb(60, 62, 82));
         background: linear-gradient(134deg, rgb(69, 83, 81), rgb(60, 62, 82));
         color: #AAAAAA;
         .SwitchBtn {
             float: right;
             margin: 15px 30px 0 0;
             border-radius: 15px;
             overflow: hidden;
             .btn {
                 background-color: #535D65;
                 padding: 6px 18px !important;
             }
         }
         .RLForm {
             @include containerTrans(top);
             width: 80%;
             position: relative;
             top: 20%;
             left: 10%;
             .input-group {
                 width: 100%;
                 padding: 2% 0 0 0;
                 .form-control {
                     background-color: transparent;
                     border: none;
                     box-shadow: none;
                     border-radius: 0;
                     border-bottom: 1px solid #515765;
                     color: white;
                     padding-left: 0;
                     &:focus {
                         box-shadow: none;
                         border-bottom: 1px solid #ccc;
                     }
                     option {
                         background-color: #535D65;
                     }
                 }
                 h5 {
                     color: white;
                 }
                 i {
                     position: absolute;
                     right: 22%;
                     bottom: 13%;
                 }
             }
             .slitGroup {
                 width: 96%;
                 display: inline-block;
             }
             .slit2Group {
                 width: 47%;
                 margin-right: 2%;
                 display: inline-block;
             }
             .slit3Group {
                 width: 30.75%;
                 margin-right: 2%;
                 display: inline-block;
             }
             .rem-for {
                 font-size: small;
                 padding: 6% 0;
                 a {
                     float: right;
                     text-decoration: none;
                     font-style: italic;
                     color: #adb3af;
                 }
                 input {
                     margin-right: 1%;
                     margin-bottom: 1px;
                     vertical-align: text-bottom;
                 }
                 .message {
                     float: left;
                     color: red;
                 }
             }
             .btn-RL {
                 margin: 4% 0;
                 padding-left: 12%;
                 padding-right: 12%;
                 border-radius: 15px;
                 color: white;
                 border: none;
                 background: #76b852;
                 /* fallback for old browsers */
                 background: -webkit-linear-gradient(to top, #8DC26F, #76b852);
                 /* Chrome 10-25, Safari 5.1-6 */
                 background: linear-gradient(to top, #8DC26F, #76b852);
                 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                 float: right;
             }
         }
     }
 }
 
 .pressedText {
     color: white;
     padding-bottom: 1%;
     border-bottom: 1px solid #76b852;
     cursor: pointer;
 }
 
 .pressedSw {
     background: #76b852;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to top, #8DC26F, #76b852);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to top, #8DC26F, #76b852);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     color: white;
 }
 
 .passValid {
     i {
         bottom: 22%!important;
     }
 }
 
 .strength-meter {
     position: relative;
     height: 3px;
     background: #DDD;
     border-radius: 3px;
     display: inline-block;
     width: 100%;
 }
 
 .strength-meter:before,
 .strength-meter:after {
     content: '';
     height: inherit;
     background: transparent;
     display: block;
     border-color: #404652;
     border-style: solid;
     border-width: 0 5px 0 5px;
     position: absolute;
     width: 20%;
     z-index: 10;
 }
 
 .strength-meter:before {
     left: 20%;
 }
 
 .strength-meter:after {
     right: 20%;
 }
 
 .strength-meter-fill {
     background: transparent;
     height: inherit;
     position: absolute;
     width: 0;
     border-radius: inherit;
     transition: width 0.5s ease-in-out, background 0.25s;
 }
 
 .strength-meter-fill[data-strength='0'] {
     background: darkred;
     width: 20%;
 }
 
 .strength-meter-fill[data-strength='1'] {
     background: orangered;
     width: 40%;
 }
 
 .strength-meter-fill[data-strength='2'] {
     background: orange;
     width: 60%;
 }
 
 .strength-meter-fill[data-strength='3'] {
     background: yellowgreen;
     width: 80%;
 }
 
 .strength-meter-fill[data-strength='4'] {
     background: green;
     width: 100%;
 }
 
 @media (max-width: 768px) {
     .RLParentContainer {
         .bannerContainer {
             display: none;
         }
         .RLContainer {
             width: 100%!important;
         }
     }
 }