<div class="pageContainer fontLayout">
    <div class="backgroundLayout"></div>
    <div class="sideBar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="homepage">
                <img src="../../../assets/images/online-store.svg">
                <div ng-if="vm.user.role =='admin'">YOUR STORE</div>
                <div ng-if="vm.user.role =='user'">SETTINGS</div>
            </a>
        </div>
        <div class="collapse navbar-collapse  sideBar-wrapper" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="vm.namePage ==1?'active':''" ng-if="vm.user.role =='admin'">
                    <a ng-click="vm.namePage=1"><img src="../../../assets/images/shopping-basket.svg">
                        <p>EDIT STORE</p>
                    </a>
                </li>
                <li ng-class="vm.namePage ==3?'active':''" ng-if="vm.user.role=='admin'">
                    <a ng-click="vm.namePage =3"><img src="../../../assets/images/businessmen.svg">
                        <p>LIST OF USER</p>
                    </a>
                </li>
                <li ng-class="vm.namePage ==2?'active':''">
                    <a ng-click="vm.namePage=2"><img src="../../../assets/images/settings.svg">
                        <p>EDIT USER</p>
                    </a>
                </li>
                <li ng-class="vm.namePage ==4?'active':''" ng-if="vm.user.role=='admin'">
                    <a ng-click="vm.namePage=4"><img src="../../../assets/images/server.svg">
                        <p>SETTINGS</p>
                    </a>
                </li>
                <li ng-class="vm.namePage ==6?'active':''">
                    <a ng-click="vm.namePage=6"><img src="../../../assets/images/invoice.svg">
                        <p>Transaction History</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="topNavContainer">
            <h3 class="topNavTitle">Hello, {{vm.user.username}}</h3>
            <div class="topNavGroup">
                <button class="btn btn-default" ng-click="vm.logout()">SIGN OUT</button>
            </div>
        </div>
        <div class="shuffle-animation">
            <edit-store ng-if="vm.namePage ==1" user="vm.user" product-edit="vm.productEdit" name-page="vm.namePage"></edit-store>
            <edit-account ng-if="vm.namePage ==2" user="vm.userEdit" name-page="vm.namePage" role="vm.user.role"></edit-account>
            <list-of-user ng-if="vm.namePage ==3" user-edit="vm.userEdit" name-page="vm.namePage" role="vm.user.role"></list-of-user>
            <setting-server ng-if="vm.namePage ==4" name-page="vm.namePage"></setting-server>
            <edit-product ng-if="vm.namePage ==5" product="vm.productEdit" name-page="vm.namePage"></edit-product>
            <list-of-receipt ng-if="vm.namePage ==6" name-page="vm.namePage" role="vm.user.role"></list-of-receipt>
        </div>
    </div>
</div>