<div class=" table-responsive container-fluid">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Username</th>
                <th>Birthday</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tr ng-repeat="user in vm.users">
            <th>{{$index+1}}</th>
            <td>{{user.email}}</td>
            <td>{{user.username}}</td>
            <td>{{user.birthday | date: "short"}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.gender}}</td>
            <td><button type="button" class="btn btn-warning" ng-click="vm.editUser(user)"><i class="glyphicon glyphicon-pencil"></i></button></td>
            <td><button type="button" class="btn btn-danger" ng-click="vm.deleteUser(user._id)">Delete</button></td>
        </tr>

    </table>

    <nav style="text-align:center">
        <ul class="pagination">
            <li ng-if="vm.currentPage !== 1 "><a ng-click="vm.getAllUser(vm.currentPage-1)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li ng-repeat="i in vm.getTotalPage(vm.totalPage) track by $index" ng-class="$index+1 == vm.currentPage ?'active': ''"><a ng-click="vm.getAllUser($index+1)">{{$index+1}}</a></li>
            <li ng-if="vm.currentPage !== vm.totalPage "><a ng-click="vm.getAllUser(vm.currentPage+1)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>

</div>