<div class="pageContainer fontAuth">
    <div class="RLParentContainer">
        <div class="RLContainer">
            <div class="RLForm">
                <h3><span ng-if="vm.state=='login'">Sign In</span></span><span ng-if="vm.state=='register'">Sign Up</span></h3>
                <ng-include src="'app/shared/directives/auth/login.html'" ng-if="vm.state=='login'"></ng-include>
                <ng-include src="'app/shared/directives/auth/register.html'" ng-if="vm.state=='register'"></ng-include>
            </div>
        </div>
    </div>
</div>