<form name="register" ng-submit="vm.register()">
    <div class="input-group">
        <div class="input-group slit2Group">
            <h5>E-MAIL</h5>
            <input type="email" class="form-control" required placeholder="Your e-mail to Sign in" name="email" ng-model="vm.email">
            <div validate-icon='email'></div>
        </div>
        <div class="input-group slit2Group">
            <h5>USERNAME</h5>
            <input type="text" class="form-control" required placeholder="Your username" name="username" ng-model="vm.username">
            <div validate-icon='username'></div>
        </div>

        <div class="input-group slit3Group">
            <h5>GENDER</h5>
            <div class="input-group rem-for">
                <input type="radio" checked required name="gender" ng-model="vm.gender" value="Male">Male
                <input type="radio" ng-style="{'margin-left':'7%'}" required name="gender" ng-model="vm.gender" value="Female">Female
            </div>
        </div>
        <div class="input-group slit3Group">
            <h5>BIRTHDAY</h5>
            <input type="date" class="form-control" required name="birthday" ng-model="vm.birthday">
        </div>
        <div class="input-group slit3Group">
            <h5>PHONE NUMBER</h5>
            <input type="text" class="form-control" required placeholder="0120-253-xxxx" name="phonenumber" ng-model="vm.phone">
        </div>

        <div class="input-group slitGroup">
            <h5>PASSWORD</h5>
            <div class="form-hint" ng-show="register.password.$dirty && register.password.$invalid">To conform with our Strong Password policy. Password must be more than 6 characters.</div>
            <input password-strength="vm.password" name="password" ng-model="vm.password" type="password" class="form-control" required placeholder="••••••••••••">
            <div validate-icon='password' class="passValid"></div>
            <div class="strength-meter">
                <div class="strength-meter-fill" data-strength="{{vm.pStrength}}"></div>
            </div>

        </div>
        <div class="input-group slitGroup">
            <h5>CONFIRM PASSWORD</h5>
            <input validate-pass="vm.password" name="password_confirm" ng-model="vm.password_confirm" type="password" class="form-control" required placeholder="••••••••••••">
            <div validate-icon='password_confirm'></div>
            <div class="message">
                <p ng-show="register.password_confirm.$dirty && register.password_confirm.$invalid">Please match password</p>
            </div>
        </div>


    </div>


    <div class="rem-for">
        <!-- <div id="reCaptcha"></div> -->

        <button type="submit" ng-disabled="register.$invalid" class="btn btn-RL">Sign Up</button>
        <a ng-click="vm.state ='login'"> I'm already member </a>
    </div>


    <!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script> -->
</form>