<div class="col-xs-10 col-xs-offset-1 memberTeamContainer ">
    <div class="memberTeam container-fluid" ng-style="{'background-image': 'url(https://localhost:9443/api/static/{{vm.product._id}}.{{vm.product.uploadType}})'}">
        <img src="https://localhost:9443/api/static/{{vm.product._id}}.{{vm.product.uploadType}}">
    </div>
    <div class="detailContainer">
        <form name="edit" ng-submit="vm.edit()">
            <table class="table table-striped">
                <tr>
                    <th>Product's Name</th>
                    <td><input type="text" class="form-control" placeholder={{vm.product.name}} ng-model="vm.productName"></td>
                </tr>
                <tr>
                    <th>Product's Cost</th>
                    <td><input type="number" min="1" class="form-control" placeholder={{vm.product.cost}} ng-model="vm.productCost"></td>
                </tr>
                <tr>
                    <th>Product's amount</th>
                    <td><input type="number" min="0" class="form-control" placeholder={{vm.product.amount}} ng-model="vm.productAmount"></td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td><select class="form-control" ng-model="vm.product.category">
                            <option value="DSLR">DSLR</option>
                            <option value="Compact">Compact</option>
                            <option value="Mirrorless">Mirrorless</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Change image</th>
                    <td><input type="file" ng-model="vm.productImg" ngf-select name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 350, height: 250}">
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td ng-style="{'text-align':'right'}">
                        <button type="button" class="btn btn-default" ng-click="vm.cancel()">Don't Save</button>
                        <button type="submit" class="btn btn-success" ng-disabled="edit.$invalid">Save and Update</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>