/*-- start editing from here --*/

.notFound {
    a {
        text-decoration: none;
    }
    .txt-rt {
        text-align: right;
    }
    /* text align right */
    .txt-lt {
        text-align: left;
    }
    /* text align left */
    .txt-center {
        text-align: center;
    }
    /* text align center */
    .float-rt {
        float: right;
    }
    /* float right */
    .float-lt {
        float: left;
    }
    /* float left */
    .clear {
        clear: both;
    }
    /* clear float */
    .pos-relative {
        position: relative;
    }
    /* Position Relative */
    .pos-absolute {
        position: absolute;
    }
    /* Position Absolute */
    .vertical-base {
        vertical-align: baseline;
    }
    /* vertical align baseline */
    .vertical-top {
        vertical-align: top;
    }
    /* vertical align top */
    nav.vertical ul li {
        display: block;
    }
    /* vertical menu */
    nav.horizontal ul li {
        display: inline-block;
    }
    /* horizontal menu */
    img {
        max-width: 100%;
    }
    /*-- end reset --*/
    /*--main-content-starts-here--*/
    font-family: 'Roboto Condensed',
    sans-serif;
    width: 100%;
    background: #1f253d;
    text-align: center;
    height: 100%;
    h1 {
        display: inline-block;
        font-size: 50px;
        color: #fff;
        margin: 56px 0px 34px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 5px;
    }
    .main-wthree {
        width: 52%;
        margin: 0 auto 3%;
        background: -webkit-linear-gradient(to right, #ff9966, #ff5e62);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff9966, #ff5e62);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border: 10px solid #FFFDFE;
    }
    .main-wthree h2 {
        font-size: 200px;
        color: #F4F4F9;
        margin-top: 40px;
        font-family: 'Josefin Sans', sans-serif;
    }
    .main-wthree p {
        font-size: 18px;
        margin-top: 23px;
        color: rgba(0, 0, 0, 0.59);
        letter-spacing: 2px;
    }
    .sub-agileinfo {
        font-size: 25px;
        color: #e6e6e6;
    }
    /*-- form --*/
    .newsletter input[type="button"] {
        padding: 13px 55px;
        border: none;
        border: 1px solid #d4284b;
        text-align: center;
        color: #fff;
        background-color: #191818;
        outline: none;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .newsletter {
        position: relative;
        margin: 75px auto 55px;
    }
    /*-- //form --*/
    /*--copy-right-starts-here--*/
    .copyright-w3-agile {
        margin: 0 auto;
        text-align: center;
        margin: 39px;
        color: #ffffff;
        text-transform: none;
    }
    .copyright-w3-agile p {
        color: #fff;
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .copyright-w3-agile a {
        color: #d4284b;
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
    }
    .copyright-w3-agile a:hover {
        color: #ffffff;
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
    }
    /*--copy-right-ends-here--*/
    /*--responsive-design-starts-here--*/
    @media(max-width:1440px) {
        h1 {
            margin: 30px 0px 30px;
        }
        .main-wthree h2 {
            margin-top: 30px;
        }
        .main-wthree p {
            margin-top: 15px;
        }
        .newsletter {
            margin: 53px auto 55px;
        }
        .main-wthree {
            width: 58%;
        }
    }
    @media(max-width:1360px) {
        .main-wthree p {
            margin-top: 3px;
        }
        .copyright-w3-agile p {
            font-size: 16px;
        }
        .newsletter {
            margin: 53px auto 49px;
        }
        .main-wthree h2 {
            font-size: 172px;
            margin-top: 23px;
        }
        h1 {
            font-size: 45px;
        }
    }
    @media(max-width:1280px) {
        .main-wthree h2 {
            font-size: 160px;
            margin-top: 18px;
        }
        .main-wthree p {
            font-size: 17px;
        }
        .sub-agileinfo {
            font-size: 24px;
        }
        .newsletter {
            margin: 45px auto 49px;
        }
        .copyright-w3-agile {
            margin: 29px;
        }
        .newsletter input[type="button"] {
            width: 42%;
        }
    }
    @media(max-width:1024px) {
        h1 {
            margin: 55px 0px 45px;
            font-size: 43px;
        }
        .main-wthree {
            width: 63%;
        }
        .main-wthree h2 {
            margin-top: 27px;
        }
        .copyright-w3-agile {
            margin: 45px;
        }
        .main-wthree p {
            margin-top: 6px;
        }
    }
    @media(max-width:991px) {
        h1 {
            font-size: 40px;
            margin: 39px 0px 33px;
        }
        .main-wthree {
            width: 68%;
            margin: 0 auto;
        }
        .main-wthree h2 {
            margin-top: 20px;
            font-size: 155px;
        }
        .copyright-w3-agile {
            margin: 31px;
        }
    }
    @media(max-width:800px) {
        h1 {
            font-size: 38px;
            margin: 90px 0px 52px;
        }
        .main-wthree {
            width: 76%;
            margin: 10% auto 16%;
        }
        .main-wthree h2 {
            font-size: 150px;
        }
        .newsletter input[type="button"] {
            width: 44%;
        }
        .sub-agileinfo {
            font-size: 23px;
        }
    }
    @media(max-width:736px) {
        .main-wthree {
            width: 80%;
            margin: 0% auto 0%;
        }
        h1 {
            font-size: 37px;
            margin: 48px 0px 32px;
        }
        .main-wthree p {
            font-size: 16.5px;
        }
    }
    @media(max-width:667px) {
        h1 {
            font-size: 35px;
        }
        .main-wthree {
            width: 84%;
        }
        .main-wthree h2 {
            font-size: 145px;
            margin-top: 24px;
        }
        .newsletter input[type="button"] {
            width: 47%;
        }
        .copyright-w3-agile {
            margin: 36px;
        }
    }
    @media(max-width:640px) {
        h1 {
            font-size: 33px;
        }
        .main-wthree p {
            font-size: 16.3px;
        }
        .sub-agileinfo {
            font-size: 22px;
        }
    }
    @media(max-width:600px) {
        .main-wthree {
            width: 90%;
        }
        .copyright-w3-agile p {
            font-size: 15px;
        }
        .main-wthree h2 {
            font-size: 140px;
            margin-top: 30px;
        }
    }
    @media(max-width:568px) {
        .main-wthree p {
            margin-top: 0px;
        }
        .newsletter {
            margin: 41px auto 41px;
        }
        h1 {
            margin: 53px 0px 45px;
        }
    }
    @media(max-width:480px) {
        h1 {
            font-size: 31px;
            letter-spacing: 5px;
        }
        .main-wthree h2 {
            font-size: 125px;
            margin-top: 17px;
        }
        .main-wthree p {
            font-size: 15px;
        }
        .sub-agileinfo {
            font-size: 19px;
        }
        .newsletter input[type="button"] {
            padding: 10px 55px 10px 16px;
        }
        .main-wthree {
            width: 91%;
        }
        .copyright-w3-agile p {
            font-size: 14px;
            line-height: 30px;
        }
    }
    @media(max-width:414px) {
        h1 {
            font-size: 29px;
            letter-spacing: 3px;
            margin: 65px 0px 67px;
        }
        .main-wthree {
            width: 83%;
        }
        .main-wthree h2 {
            font-size: 120px;
            margin-top: 15px;
        }
        .main-wthree p {
            font-size: 14px;
            letter-spacing: 1.5px;
            line-height: 25px;
            margin-top: 10px;
        }
        .newsletter input[type="button"] {
            width: 60%;
        }
        .newsletter {
            margin: 33px auto;
        }
        .copyright-w3-agile {
            margin: 49px 28px;
        }
    }
    @media(max-width:384px) {
        h1 {
            font-size: 27px;
            letter-spacing: 3px;
            margin: 50px 0px 42px;
        }
        .newsletter {
            margin: 25px auto 31px;
        }
        .main-wthree h2 {
            font-size: 117px;
            margin-top: 18px;
        }
        .main-wthree p {
            margin: 0 30px;
            margin-top: 4px;
        }
        .newsletter input[type="button"] {
            width: 63%;
        }
        .copyright-w3-agile {
            margin: 42px 28px;
        }
    }
    @media(max-width:375px) {
        .main-wthree p {
            margin: 0 24px;
        }
    }
    @media(max-width:320px) {
        h1 {
            font-size: 29px;
            letter-spacing: 2px;
            line-height: 39px;
            margin: 25px 0px 20px;
        }
        .main-wthree h2 {
            font-size: 103px;
            margin-top: 3px;
        }
        .sub-agileinfo {
            font-size: 18px;
        }
        .main-wthree p {
            margin-top: 0px;
            font-size: 14px;
            letter-spacing: 1.3px;
            padding: 0px 3px;
        }
        .newsletter input[type="button"] {
            width: 67%;
        }
        .newsletter {
            margin: 25px auto 20px;
        }
        .copyright-w3-agile {
            margin: 26px 28px;
        }
        .main-wthree {
            width: 89%;
            border: 9px solid #FFFDFE;
        }
        .copyright-w3-agile p {
            line-height: 25px;
        }
    }
    /*--responsive-design-ends-here--*/
}