   @font-face {
       font-family: "JosefinSans";
       src: url("../assets/fonts/RobotoTTF/Roboto-Light.ttf") format("truetype");
   }
   
   @font-face {
       font-family: "Roboto";
       src: url("../assets/fonts/RobotoTTF/Roboto-Regular.ttf") format("truetype");
   }
   
   .fontAuth {
       font-family: 'JosefinSans', sans-serif!important;
   }
   
   @font-face {
       font-family: "logoFont";
       src: url("../assets/fonts/Melancholight Italic.ttf") format("truetype");
   }