/*HOME PAGE*/

.homePageBanner {
    position: relative;
    height: 100%;
    background: rgba(5, 54, 249, 1);
    color: white;
    text-shadow: 3px 3px 10px black;
    .backgroundImg {
        position: absolute;
        background-image: url('../../../../assets/images/homepageBackground.jpg');
        opacity: 0.5;
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footer {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .footer>h1 {
        margin-top: 13%;
        font-size: 150px;
        font-family: logoFont;
    }
    .footer>a {
        position: absolute;
        bottom: 8%;
        left: 0;
        right: 0;
        color: white;
    }
    .footer>a:hover {
        cursor: pointer;
        text-decoration: none;
        color: grey;
    }
    .footer>a>.glyphicon {
        font-size: 20px;
    }
}

.navbar-market {
    background-color: white!important;
    #bs-example-navbar-collapse-1 .nav li {
        cursor: pointer;
    }
}

.sidenav-market {
    // width: 50%;
    max-width: none!important;
}

.cartIcon {
    padding: 12px!important;
    img {
        width: 25px;
    }
}

.shopContainer {
    height: 100%;
    overflow: auto;
}

.addCart {
    height: 30px;
    cursor: pointer;
}

.mainRow {
    column-width: auto !important;
    // column-count: 4;
    // height: 100%;
    .camera-item {
        display: inline-block;
        column-span: none;
        .thumbnail {
            box-shadow: 1px 1px 3px #888888;
            padding: 0!important;
            border: 0!important;
            img {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
        }
    }
}

.shop-brand {
    padding-right: 35px!important;
    margin-left: 20px!important;
    font-family: logoFont;
    font-size: 45px!important;
    padding-top: 8px!important;
    color: #355C7D!important;
    text-shadow: 2px 2px 3px #ddd;
}

.paymentDone {
    img {
        width: 15%;
    }
}