<div class="pageContainer fontLayout">
    <div class="backgroundLayout"></div>
    <!--<div class="sideBar-container">
        <ul class="sideBar-wrapper">
            <li>
                <a><img src="../../../assets/images/soccer-ball-variant.svg" ></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="layout.homepage" ng-click="vm.namePage ='DASHBOARD'"><img src="../../../assets/images/home-button.svg"></a>
            </li>
            <li>
                <a ng-click="vm.namePage='GROUP'"><img src="../../../assets/images/group.svg"></a>
            </li>
            <li>
                <a ng-click="vm.namePage='PROFILE'"><img src="../../../assets/images/user.svg"></a>
            </li>
        </ul>

    </div>-->
    <div class="sideBar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/dollar-symbol.svg"> BANK
            </a>
        </div>
        <div class="collapse navbar-collapse  sideBar-wrapper" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="vm.namePage ==1?'active':''">
                    <a ng-click="vm.namePage=1"><img src="../../../assets/images/man.svg">
                        <p>PROFILE</p>
                    </a>
                </li>
                <li ng-class="vm.namePage ==2?'active':''" ng-if="vm.user.role=='admin'">
                    <a ng-click="vm.namePage =2"><img src="../../../assets/images/businessmen.svg">
                        <p>LIST OF USER</p>
                    </a>
                </li>
                <li ng-class="vm.namePage ==4?'active':''" ng-if="vm.user.role=='user'">
                    <a ng-click="vm.namePage =4"><img src="../../../assets/images/money-bag.svg">
                        <p>BALANCE</p>
                    </a>
                </li>
                <li ng-class="vm.namePage ==3?'active':''">
                    <a ng-click="vm.namePage=3"><img src="../../../assets/images/settings.svg">
                        <p>EDIT USER</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="topNavContainer">
            <h3 class="topNavTitle">Hello, {{vm.user.username}}</h3>
            <div class="topNavGroup">
                <div><img src="../../../assets/images/speech-bubbles.svg"></div>
                <div><img src="../../../assets/images/notifications-button.svg"></div>
                <button class="btn btn-default" ng-click="vm.logout()">SIGN OUT</button>
            </div>
        </div>
        <div class="shuffle-animation">
            <profile ng-if="vm.namePage ==1" user="vm.user"></profile>
            <list-of-user ng-if="vm.namePage ==2" user-edit="vm.userEdit" name-page="vm.namePage" role="vm.user.role"></list-of-user>
            <balance-management ng-if="vm.namePage ==4" user="vm.userEdit" name-page="vm.namePage" role="vm.user.role"></balance-management>
            <edit ng-if="vm.namePage ==3" user="vm.userEdit" name-page="vm.namePage" role="vm.user.role"></edit>
        </div>
    </div>
</div>